<div class="container-fluid">
    <div class="row-fluid">
        <div class="centering text-center col-sm-5">
            <input type="search" class="form-control" placeholder="Filter make or model. Click at least 3 cars to enable comparison." ng-model="search">
            <div ng-if="compare" >
             <span ng-repeat="car in compare"><span ng-bind="car.make"> </span> <span ng-bind="car.model"> </span> </span>
            </div>
            <div ng-if="compare.length>1" class="compareButton">
              
              <a href="#/compare" class="btn btn-primary">Compare</a> <a href="" class="btn btn-danger" ng-click="reset()">Reset</a>
            </div>
            
            <div ng-if="visibileLinks" ng-repeat="link in visibleLinks"><img ng-src=
            "{link}"></div>

        </div>
        <div ng-repeat="car in cars.makes" class="text-center col-lg-2">
            <div ng-repeat="car2 in car.models | filter:search">
             <span ng-bind="parse(car2.id)" ng-click="addToCompare({make: car.name, model: car2.name})"></span>
            </div> 
        </div>
    </div>
</div>
